<%= simple_form_for(list) do |f| %>
  <div class="row">
    <div class="col-6">
      <%= f.input :name %>
      <%= f.input :status, collection: %w[Private Friend Public] %>
    </div>
    <div class="col-6">
      <%= f.input :description %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
