<h1>Edit List</h1>
<%= simple_form_for(@list) do |f| %>
  <div class="row">
    <div class="col-6">
      <%= f.input :name %>
      <%= f.input :status, collection: %w[Private Friend Public] %>
    </div>
    <div class="col-6">
      <%= f.input :description %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.simple_fields_for :genre_connections do |gc| %>
        <div class="nested-fields">
          <%= gc.input :genre_id, as: :select, collection: Genre.all.pluck(:name, :id), include_blank: "Select a genre" %>
          <%= gc.hidden_field :_destroy %>
          <%= link_to "Remove", "#", class: "remove-genre" %>
        </div>
      <% end %>
      <%= link_to "Add Genre", "#", id: "add-genre" %>
    </div>
  </div>

  <%= f.submit "Update List", class: "btn btn-primary" %>
<% end %>
