<div>
  <div>
    <h1><%= @list.name %></h1>
  </div>
  <div>
    <%= @list.status %>
  </div>
  <div>
    <p><%= @list.description %></p>
  </div>
  <div>
    <% if @list_items.any? %>
      <ul>
          <% @list_items.each do |list_item| %>
        <li>
          <div>
            <%= link_to list_item.title.name, title_path(list_item.title)  %>
          </div>

               <div>
            <%= link_to list_item_path(list_item), data: { turbo_method: :delete }, class: 'btn btn-remove' do %>
                <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
          </div>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div>
  <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>
</div>
<%# <%= link_to 'Add a movie', new_list_item_path, class: 'btn btn-secondary'%>
