<div>
  <div>
    <h1><%= @list.name %></h1>
  </div>
  <div class="">
  <div class="">
      <strong>Description:</strong>
      <p class=""><%= @list.description.presence || "No description available" %></p>
    </div>
   <div class="">
      <strong></strong>
      <div class="genre-buttons">
        <% @list.genres.each do |genre| %>
          <%= link_to genre.name, genre_path(genre.tmdb_id), class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <% if @list_items.any? %>
      <div class="container container-item-card">
        <% @list_items.each do |list_item| %>
          <div class="item-card">
            <%= render 'shared/item_card', title: { id: list_item.title.id, name: list_item.title.name, start_year: list_item.title.start_year, end_year: list_item.title.end_year, poster_path: list_item.title.poster_url, media_type: list_item.title.media_type } %>
            <%= link_to list_item_path(list_item), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-remove' do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="">
      <strong>Status:</strong>
      <p class=""><%= @list.status.presence || "No status available" %></p>
    </div>
  <div>
    <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>
    <% unless @list.name == 'Watchlist' %>
      <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-primary' %>
      <%= link_to 'Delete List', @list, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this list?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
