<div>
  <div>
    <h1><%= @list.name %></h1>
    <div class="created-by" style="margin-top: -10px;">
      <span>Created by:</span>
      <img src="<%= @list.user.profile_picture_url %>" alt="<%= @list.user.username %>" class="avatar-listshow">
      <%= link_to @list.user.username, user_path(@list.user.username) %>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <strong></strong>
    <p><%= @list.description.presence || "No description available" %></p>
  </div>
  <div>
    <div class="genre-buttons">
      <% @list.genres.each do |genre| %>
        <%= link_to genre.name, genre_path(genre.tmdb_id), class: "btn" %>
      <% end %>
    </div>
  </div>
  <div>
    <% if @list_items.any? %>
      <div class="container container-item-card">
        <% @list_items.each do |list_item| %>
          <div class="item-card">
            <%= render 'shared/item_card', title: list_item.title %>
            <p>Rank: <%= list_item.rank %></p>
            <% if current_user == @list.user %>
              <%= link_to list_item_path(list_item), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-remove' do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <strong>Status:</strong>
    <p><%= @list.status.presence || "No status available" %></p>
  </div>
  <div>
    <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>
    <% if current_user == @list.user && @list.name != 'Watchlist' %>
      <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-primary' %>
      <%= link_to 'Delete List', @list, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this list?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
