<%= form_with url: titles_path, method: :post, local: true do %>
  <%= hidden_field_tag 'title[tmdb_id]', title[:id] %>
  <%= hidden_field_tag 'title[media_type]', title[:media_type] %>
  <%= hidden_field_tag 'title[name]', title[:name] %>
  <div class="card item-card mb-3" style="cursor: pointer;" onclick="this.closest('form').submit();">
    <img src="https://image.tmdb.org/t/p/w500<%= title[:poster_path] %>" alt="<%= title[:name] %>" class="card-img-top item-card-img-top">
    <div class="card-body item-card-body">
      <h5 class="card-title item-card-title"><%= title[:name] %></h5>
      <div class="card-text item-card-small-texts">
        <div>
          <span class="item-card-small-text-heading">Year:</span>
          <%= title[:start_year] %>
          <% if title[:end_year] %>
            - <%= title[:end_year] %>
          <% end %>
        </div>
        <div>
          <span class="item-card-small-text-heading">TMDb Media Type:</span>
          <%= title[:media_type].capitalize %>
        </div>
      </div>
    </div>
  </div>
<% end %>
