<%= @user.username %>

<% if @user == current_user %>
<ul>
  <% @watchlist %>
    <li>
      <div>
        <div>
          <h2><%= link_to @watchlist.name, list_path(@watchlist) %></h2>
        </div>
        <div>
          <p>Status: <%= @watchlist.status %></p>
        </div>
        <div>
          <p><%= @watchlist.description %></p>
        </div>
      </div>
    </li>

    <% @private_lists.each do |list| %>
    <li>
      <div>
        <div>
          <h2><%= link_to list.name, list_path(list) %></h2>
        </div>
        <div>
          <p>Status: <%= list.status %></p>
        </div>
        <div>
          <p><%= list.description %></p>
        </div>
      </div>
    </li>
  <% end %>

  <% @lists.each do |list| %>
    <li>
      <div>
        <div>
          <h2><%= link_to list.name, list_path(list) %></h2>
        </div>
        <div>
          <p>Status: <%= list.status %></p>
        </div>
        <div>
          <p><%= list.description %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% end %>
