<div class="activity-feed-item-custom">
  <div class="activity-content-custom">
    <div class="activity-poster-custom">
      <%= link_to title_path(activity.title.id) do %>
        <img src="<%= activity.title.poster_url %>" alt="<%= activity.title.name %>">
      <% end %>
    </div>
    <div class="activity-details-custom">
      <div class="activity-header-custom">
        <div class="activity-title-year-custom">
          <span class="activity-username-custom">
            <%= link_to user_path(activity.user.username), class: 'custom-link' do %>
              <img src="<%= activity.user.profile_picture_url || 'https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg' %>" alt="<%= activity.user.username %>'s Avatar" class="avatar-custom">
              <%= activity.user.first_name %>
            <% end %>
          </span>
          <span class="activity-year-custom">
            Added: <%= link_to "#{activity.title.name}", title_path(activity.title.id), class: 'custom-link' %>
          </span>
          <span class="activity-year-custom">To the List: </span>
          <span class="activity-year-custom"><%= link_to activity.list.name, list_path(activity.list), class: 'custom-link' %></span>
        </div>
      </div>
      <div class="activity-time-custom">
        <%= activity_string(activity) %>
      </div>
    </div>
  </div>
</div>
