<div class="activity-feed-item-custom">
  <div class="activity-content-custom">
    <div class="activity-collection-custom">
      <%= link_to list_path(activity.id) do %>
        <div class="activity-collection-card-images-custom">
          <% if activity.titles.count == 1 %>
            <img src="<%= activity.titles[0].poster_url %>" alt="Poster of <%= activity.titles[0].name %>" class="activity-collection-card-img-custom activity-collection-card-img-single-custom">
          <% else %>
            <div class="activity-collection-card-img-group-custom">
              <% activity.titles.limit(4).each do |title| %>
                <img src="<%= title.poster_url %>" alt="Poster of <%= title.name %>" class="activity-collection-card-img-custom">
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="activity-details-custom">
      <div class="activity-header-custom">
        <div class="activity-title-year-custom">
          <span class="activity-username-custom">
            <%= link_to user_path(activity.user.username), class: 'custom-link' do %>
              <img src="<%= activity.user.profile_picture_url || 'https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg' %>" alt="<%= activity.user.username %>'s Avatar" class="avatar-custom">
              <%= activity.user.first_name %>
            <% end %>
          </span>
          <span class="activity-year-custom" >Created list:</span>
          <span><%= link_to activity.name, list_path(activity), class: 'custom-link' %></span>
        </div>
      </div>
      <div class="activity-time-custom">
        <%= activity_string(activity) %>
      </div>
    </div>
  </div>
</div>
