<div id="carouselExample" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <% if current_page?(root_path) %>
      <% @genres.each_with_index do |genre, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>" >
          <a href="<%= genre_path(genre.tmdb_id, cover_url: genre.cover_url, skip_update: true) %>" class="carousel-anchor">
            <img src="<%= genre.cover_url %>" class="carousel-item-img carousel-item-img-homepage" alt="Cover of <%= genre.name %>">
          </a>
          <div class="carousel-homepage-heading">
            <h1 class="carousel-homepage-title">KINOVIE</h1>
            <p class="carousel-homepage-subtitle">Find and recommend movies and TV shows to your friends!</p>
          </div>
        </div>
      <% end %>
      <!-- <div class="carousel-item">
      </div>
      <div class="carousel-item">
      </div> -->
    <% else %>
      <% @genres.each_with_index do |genre, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <a href="<%= genre_path(genre.tmdb_id, cover_url: genre.cover_url, skip_update: true) %>">
            <img src="<%= genre.cover_url %>" class="carousel-item-img" alt="Cover of <%= genre.name %>">
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
