<div class="card item-card mb-3" data-add-to-watchlist-title-id-value="<%= title.id %>">
  <%= link_to title_path(title.id) do %>
    <img src="https://image.tmdb.org/t/p/w500<%= title.poster_url %>" alt="<%= title.name %>" class="card-img-top item-card-img-top">
  <% end %>
    <i class="fa-solid <%= title.in_watchlist?(current_user.find_user_watchlist) ? 'fa-check' : 'fa-plus' %> btn-add-watchlist"
      data-action="click->add-to-watchlist#addToWatchlist"
      data-add-to-watchlist-target="watchListBtn"
      data-id="<%= title.id %>"></i>
  <div class="card-body item-card-body">
    <div class="">
      <h5 class="card-title item-card-title"><%= title.name %></h5>
      <div class="card-text item-card-small-texts">
        <div class="item-card-small-text">
          <% if title.media_type == 'tv' && title.start_year != title.end_year %>
            <span class="item-card-small-text-heading"><%= title.start_year %>
              <% if title.end_year %>
                - <%= title.end_year %>
              <% end %></span>
          <% else %>
            <span class="item-card-small-text-heading"><%= title.start_year %></span>
          <% end %>
          <span>·</span>
          <%= title.media_type == 'tv' ? 'TV Show' : title.media_type.capitalize %>
        </div>
      </div>
    </div>
    <div class="item-card-small-text item-card-small-text-rating">
      <% top_three_reviews(title.ordered_reviews).limit(1).each do |review| %>
        <% if review.present? %>
          <span class="item-card-small-text-rating-subheading">Rated by</span>
          <img class="avatar avatar-list-card" src=
            <% if review.user.profile_picture.attached? %>
              <%= url_for(review.user.profile_picture) %>
            <% elsif review.user.profile_picture_url.present? %>
              <%= review.user.profile_picture_url %>
            <% else %>
              'https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg'
            <% end %> alt="<%= review.user.username %>'s Avatar" class="avatar-nav">
          <span class="item-card-small-text-username"><%= review.user.first_name %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
