<div class="item-card item-review-card" data-controller="review-likes" data-review-likes-review-id-value="<%= review.id %>">
  <div class="item-review-user">
    <%= link_to user_path(review.user.username) do %>
      <img src="<%= review.user.profile_picture_url %>" alt="" class="avatar-review-card">
    <% end %>
    <div class="item-review-user-rating">
      <p class="item-review-user-rating-text">
        <%= link_to user_path(review.user.username), class: 'item-review-username' do %>
          <strong><%= review.user.first_name %></strong>
        <% end %>
      </p>
      <p class="item-review-user-rating-text">
        <i class="fas fa-star"></i>
        <%= "#{review.rating}/10" %>
      </p>
    </div>
  </div>
  <div class="item-review-user-texts">
    <p class="item-review-user-review-text"><i class="fa-solid fa-quote-left fa-quotes fa-2xs"></i><%= review.comment %><i class="fa-solid fa-quote-right fa-quotes fa-2xs"></i></p>
    <div class="item-review-heart">
      <% if current_user.favorited?(review) %>
        <i class="fa-solid fa-heart fa-lg"
           data-action="click->review-likes#toggle_likes"
           data-review-likes-target="heart"></i>
      <% else %>
        <i class="fa-regular fa-heart fa-lg"
           data-action="click->review-likes#toggle_likes"
           data-review-likes-target="heart"></i>
      <% end %>
      <div data-review-likes-target="counter"
           data-review-likes-likes-count-value="<%= review.favoritors_by_type('User').count %>" class="item-review-heart-counter">
        <%= review.favoritors_by_type('User').count %>
      </div>
    </div>
  </div>
  <%= render 'comments/form', comment: @comment, commentable: review %>
  <% review.comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
  <% if review.user == current_user %>
    <%= link_to title_review_path(@title, review), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-remove' do %>
      Delete Review
    <% end %>
  <% end %>
</div>
