<h1><%= @title.name %></h1>
<p><strong>Year:</strong> <%= @title.start_year %> <% if @title.end_year %>- <%= @title.end_year %><% end %></p>
<p><strong>TMDb ID:</strong> <%= @title.tmdb_id %></p>
<p><strong>IMDb ID:</strong> <%= @title.imdb_id %></p>
<p><strong>IMDb Rating:</strong> <%= @imdb_rating %></p>
<p><strong>IMDb Votes:</strong> <%= @imdb_votes %></p>
<p><strong>Media Type:</strong> <%= @title.media_type %></p>
<div>
  <img src="<%= @title.poster_url %>" alt="<%= @title.name %> Poster">
</div>
<p><strong>Description:</strong> <%= @description %></p>
<p><strong>Genres:</strong> <%= @genres %></p>
<p><strong>Cast:</strong> <%= @cast %></p>
