<!-- Carousel -->
<div id="title-backdrops-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @backdrops.each_with_index do |backdrop, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <img src="<%= backdrop %>" class="carousel-item-img" alt="Backdrop">
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#title-backdrops-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#title-backdrops-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Top Bar -->
<div class="container container-media-show">
  <div class="media-show-heading">
    <h1 class="media-heading"><%= @title.name %></h1>
    <!-- Button trigger modal Rating/Review -->
    <button type="button" class="btn btn-add-list" data-bs-toggle="modal" data-bs-target="#ratemodal">
      <% if @title.reviews.find_by(user: current_user) %>
        Edit Rating
      <% else %>
        Add Rating
      <% end %>
    </button>
    <!-- Button watchlist -->
    <%= button_to 'Add to Watchlist', add_to_watchlist_title_list_items_path(@title), method: :post, class: 'btn btn-add-watchlist', style: 'margin-left: 20px' %>
    <!-- Button trigger modal Add to List-->
    <button type="button" class="btn btn-add-list" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add to List
    </button>
    <!-- Streaming Services -->
    <% streaming_services = @title.streamings.where(streaming_type: 'sub') %>
    <% if streaming_services.any? %>
      <span style="margin-left: 250px; margin-right: 20px">Where to Watch</span>
      <% streaming_services.each do |streaming| %>
        <% if streaming.service.logo_url.present? %>
          <div class="card" style="width: 50px;">
            <%= link_to streaming.url, target: "_blank" do %>
              <img src="<%= streaming.service.logo_url %>" class="card-img-top">
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- Media info -->
  <div class="media-show-infos-year-type">
    <span class="media-show-info-heading"></span>
    <span class="media-show-info-text">
      <%= @title.media_type == 'tv' ? 'TV Show' : @title.media_type.capitalize %>
    </span>
    <span class="media-show-info-heading"></span>
    <span class="media-show-info-text">
      <% if @title.media_type == 'tv' && @title.start_year != @title.end_year %>
        <%= @title.start_year %>
        <% if @title.end_year %>
          - <%= @title.end_year %>
        <% end %>
      <% else %>
        <%= @title.start_year %>
      <% end %>
    </span>
    <span class="media-show-info-heading"></span>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" alt="IMDb Logo" class="imdb-logo">
    <span class="media-show-info-text"><%= @imdb_rating %></span>
    <span class="media-show-info-text">
      <% @genres.split(', ').each do |genre_name| %>
        <% genre = Genre.find_by(name: genre_name) %>
        <% if genre %>
          <%= link_to genre.name, genre_path(genre.tmdb_id) %>
        <% else %>
          <span><%= genre_name %></span>
        <% end %>
      <% end %>
    </span>
    <% if @review.rating  %>
      <span class="media-show-info-text">
        My Rating
        <i class="fas fa-star" style="color: #f39c12;"></i>
        <%= "#{@review.rating}/10" %>
      </span class="media-show-info-text">
    <% end %>
    <% if @title.reviews.any? %>
      <span>
        Community Rating
        <i class="fas fa-star" style="color: #f39c12;"></i>
        <%= "#{@title.average_rating_title}/10" %>
      </span>
    <% end %>
  </div>

  <div class="media-show-infos">
    <img src="https://image.tmdb.org/t/p/w500<%= @title.poster_url %>" alt="<%= @title.name %> Poster" class="media-show-poster-img">
    <div class="media-show-infos-details">
      <div>
        <span class="media-show-info-heading">Premise </span>
        <p class="media-show-info-text"> <%= @description %></p>
      </div>
      <% if @title.media_type == 'movie' && @director.present? %>
        <div class="media-show-info">
          <span class="media-show-info-heading">Director </span>
          <p class="media-show-info-text"> <%= @director %></p>
        </div>
      <% elsif @title.media_type == 'tv' && @creator.present? %>
        <div class="media-show-info">
          <span class="media-show-info-heading">Creator </span>
          <p class="media-show-info-text"> <%= @creator %></p>
        </div>
      <% end %>
      <% if @writers.present? %>
        <div class="media-show-info">
          <span class="media-show-info-heading">Writer </span>
          <p class="media-show-info-text"> <%= @writers %></p>
        </div>
      <% end %>
      <% if @cast.present? %>
        <div class="media-show-info">
          <span class="media-show-info-heading">Stars </span>
          <p class="media-show-info-text"> <%= @cast.split(', ').first(6).join(', ') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Reviews -->
<div class="container container-media-show">
  <div class = media-review-show-heading>
    <h3>Reviews</h3>
    <!-- Button watchlist -->
    <span>
      <% if current_user == @review.user && @review.comment.blank? %>
        <button type="button" data-bs-toggle="modal" data-bs-target="#reviewmodal">
          <i class="fa-solid fa-plus"></i>
        </button>
      <% elsif current_user == @review.user %>
        <button type="button" data-bs-toggle="modal" data-bs-target="#reviewmodal">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      <% end %>
    </span>
  </div>

<!-- Review Card -->

<% if @title.reviews.any? %>
  <% @title.reviews.each do |review| %>
    <% unless review.comment == ""%>
      <div class="item-card">
        <p><strong><%= review.user.username %></strong> - <i class="fas fa-star" style="color: #f39c12;"></i>
        <%= "#{review.rating}/10" %></p>
        <p><%= review.comment %></p>
        <%= render 'comments/form', comment: @comment, commentable: review %>
        <% review.comments.each do |comment| %>
          <p><%= comment.content %></p>
        <% end %>

      </div>
    <% end %>
  <% end %>
<% end %>
</div>
</div>

<!-- List Recommendation -->
<% if @lists.any? %>
  <h2 class="page-heading" style="margin-top: 20px;">Lists with <%= @title.name %></h2>
  <div id="carouselCollection" class="carousel slide">
    <div class="carousel-inner">
      <% @lists.each_slice(4).each_with_index do |group, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <div class="collection-card-list">
            <% group.each do |list| %>
              <%= render 'shared/collection_card', list: list %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCollection" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCollection" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>

<!-- MODALS -->

<!-- Modal Rating -->
<div class="modal fade" id="ratemodal" tabindex="-1" aria-labelledby="ratemodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ratemodalLabel">Rate and Review <%= @title.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: [@title, @review], local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :rating, "Rating (1 to 10)" %>
          </div>
          <div class="star-rating mb-5">
              <% 10.times do |i| %>
                <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 0 %> />
              <% end %>
          </div>
          <div class="mb-3">
            <%= f.label :comment, "Review (optional)" %>
            <%= f.text_area :comment, class: "form-control" %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Submit", class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Review -->
<div class="modal fade" id="reviewmodal" tabindex="-1" aria-labelledby="ratemodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ratemodalLabel">Review <%= @title.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: [@title, @review], local: true) do |f| %>
          <div class="mb-3">
            <%= f.text_area :comment, class: "form-control" %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Submit", class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal List-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= "Add #{@title.name}" %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<div class="modal-body">
  <% sorted_lists = current_user.lists.where.not(name: 'Watchlist').order(:name) %>
  <% watchlist = current_user.lists.find_by(name: 'Watchlist') %>
  <!-- Sorted Lists -->
  <% sorted_lists.each do |list| %>
    <%= simple_form_for [@title, ListItem.new] do |f| %>
      <%= f.input :list_id, as: :hidden, input_html: { value: list.id } %>
      <% if list.titles.include?(@title) %>
        <%= f.button :button, disabled: true do %>
          <%= list.name %> <i class="fas fa-check"></i>
        <% end %>
      <% else %>
        <%= f.button :button do %>
          <%= list.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <!-- Watchlist -->
  <% if watchlist.present? %>
    <%= simple_form_for [@title, ListItem.new] do |f| %>
      <%= f.input :list_id, as: :hidden, input_html: { value: watchlist.id } %>
      <% if watchlist.titles.include?(@title) %>
        <%= f.button :button, disabled: true do %>
          <%= watchlist.name %> <i class="fas fa-check"></i>
        <% end %>
      <% else %>
        <%= f.button :button do %>
          <%= watchlist.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <!-- New List Button -->
   <a class="btn-modal-new " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-solid fa-plus"></i> New List
  </a>
  <div class="collapse" id="collapseExample">
  <div class="card card-body">
   <%= simple_form_for(@new_list) do |f| %>
  <div class="row">
    <div class="col-6">
      <%= f.input :name %>
      <%= f.input :status, collection: %w[Private Friend Public] %>
    </div>
    <div class="col-6">
      <%= f.input :description %>
    </div>
  </div>
  <%= f.submit %>
  <% end %>
</div>
</div>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
